.audio-player {
    font-family: "dpcomic";
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    transition: width 0.5s ease-in-out;
    transition: font-size 0.5s ease-in-out;
}

.audio-player.mobile {
    font-size: 18px;
}

.audio-player.expanded.mobile {
    font-size: 11px;
}

.audio-player button {
    background-color: #77334d; /* Verde */
    border: none;
    color: white;
    padding: 2px 5px;
    width: 60px;
    max-width: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 5px 4px;
    cursor: pointer;
    border-radius: 5px;
}

.audio-player button:hover {
    font-size: 26px;
    background-color: rgb(187, 107, 131);
    transition: ease-out;
    transition-duration: 0.25s;
}

.progress {
    width: 100%;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.progress-bar-container {
    flex-grow: 1;
    width: 90%;
    height: 12px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.progress-bar-container:hover {
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    background-color: #6a4caf;
    width: 0%;
    transition: width 0.1s;
}

.volume {
    width: 40%;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.play-icon {
    width: 20px;
    height: 20px;
}

.audio-icon {
    width: 20px;
    height: 20px;
}

.volume-container {
    position: relative;
    margin-top: 5px;
    margin-bottom: 1%;
    align-items: start;
    width: 55%;
    height: 12px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.volume-container:hover {
    cursor: pointer;
}

.volume-bar {
    height: 100%;
    background-color: #6a4caf;
    width: 0%;
    transition: width 0.1s;
}

.play-image {
    margin-top: 5px;
    margin-right: 13px;
}

.pause-image {
    margin-top: 5px;
    margin-right: 3px;
}

.time-container {
    color: white; /* Asegúrate de que el texto sea visible */
    pointer-events: none; /* Asegura que el texto no interfiera con los eventos de clic */
}

.description {
    width: 100%;
    color: #e2c9d1;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.description-title {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}

.description button {
    width: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.audio-player.expanded .description {
    max-height: 220px;
}