.list {
    margin-top: 80px;
}

.listItem {
    font-family: "dpcomic";
    font-size: 20px;
    background-color: rgb(27, 14, 31);
    width: 50vw;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}